@import '../../styles/global.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: -132px;
  @include small-screen-and-more {
    margin-top: -90px;
  }
}

